*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
body{
    background: #f5f7fa;
     font-family: 'Montserrat', sans-serif;
     padding: 20px;

}
.sidebar{
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo{
    width: 370px;
}
.about__me{
    padding: 90px 90px 90px 110px;
}
.project__info{
    text-align: left;
}
