*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}
body{
    background: #f5f7fa;
     font-family: 'Montserrat', sans-serif;
     padding: 20px;
}
.sidebar{
    background-color: #1e2939;
    width: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo{
    width: 290px;
}
.about__me{
    padding: 110px 90px 90px 110px;
}
.projects__info{
    text-align: left;
}
.contacts__container{
    margin: 40px 40px 25px 20px;
}
.contacts__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.contacts__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #1863d3;
}

.contacts__type{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skills__container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 45px;
}
.tech-skills__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.tech-skills__item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
}
.tech-skills__text{
    color: #d8dadd;
}

.soft-skills__container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 45px;
}
.soft-skills__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.soft-skills__item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
}
.soft-skills__text{
    color: #d8dadd;
}
.profession{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.my-name{
    font-size: 45px;
    font-weight: 700;
    line-height: 69px;
}
.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.info{
    margin-bottom: 65px;
}
.projects__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects__link{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.tech-name{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}